name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  GCC:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Ubuntu GCC Debug",
            config: "Debug",
            lowerCase: "debug",
          }
        - {
            name: "Ubuntu GCC Release",
            config: "Release",
            lowerCase: "release",
          }
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Premake
        run: |
          wget https://github.com/premake/premake-core/releases/download/v5.0.0-beta8/premake-5.0.0-beta8-linux.tar.gz -O premake.tar.gz
          tar -xf premake.tar.gz
          chmod +x premake5
          ./premake5 gmake2
      - name: Build
        run: make config=${{ matrix.config.lowerCase }} -j6
      - name: Run tests
        run: ./bin/${{ matrix.config.config }}-linux-x86_64/Tests/Tests
#      - name: a
#        run: |
#          COVERALLS_REPO_TOKEN="${{ secrets.GITHUB_TOKEN }}"
#          pip install --user cpp-coveralls
#          cpp-coveralls -r $(pwd) -i include -b $(pwd)/tests/ --exclude "/usr/*" --exclude-pattern $(pwd)/vendor/ --gcov-options '\-o $(pwd) -lp'
#      - name: Publish to coveralls.io
#        uses: coverallsapp/github-action@v1.1.2
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
          
  MSVC:
    runs-on: windows-latest
    name: MSVC
    strategy:
      fail-fast: false
      matrix:
        configuration: [debug, release]
    steps:
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Get premake5
        shell: powershell
        run: |
          Invoke-WebRequest -Uri "https://github.com/premake/premake-core/releases/download/v5.0.0-beta8/premake-5.0.0-beta8-windows.zip" -OutFile "premake.zip"
          Expand-Archive -Path premake.zip
      - name: Generate solution
        shell: cmd
        run: premake\premake5.exe vs2022
      - name: Build
        shell: cmd
        run: msbuild DULib.sln /p:Configuration=${{ matrix.configuration }}
      - name: Run tests
        run: ./bin/${{ matrix.configuration }}-windows-x86_64/Tests/Tests.exe
